<div class="chat-box">
	<div class="chat__header-box">
		<div class="header-box__date">
			<span>{{dateNow}}</span>
		</div>
		<div class="header-box__time">
			<span>{{timeNow}}</span>
		</div>	
	</div>
	<div class="chat__main-box">
		<div class="message-box_provider-message">
			<div class="message provider-message">
				<span class="message-sender">
					Поставщик
				</span>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</span>
				<span class="message-time">
					Time
				</span>
			</div>
		</div>
		<div class="message-box_client-message">
			<div class="message client-message">
				<span class="message-sender">
					Покупатель
				</span>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</span>
				<span class="message-time">
					Time
				</span>
			</div>
		</div>
		<div class="message-box_client-message">
			<div class="message client-message">
				<span class="message-sender">
					Покупатель
				</span>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</span>
				<span class="message-time">
					Time
				</span>
			</div>
		</div>
		<div class="message-box_client-message">
			<div class="message client-message">
				<span class="message-sender">
					Покупатель
				</span>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</span>
				<span class="message-time">
					Time
				</span>
			</div>
		</div>
		<div class="message-box_client-message">
			<div class="message client-message">
				<span class="message-sender">
					Покупатель
				</span>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</span>
				<span class="message-time">
					Time
				</span>
			</div>
		</div>
		<div class="message-box_client-message">
			<div class="message client-message">
				<span class="message-sender">
					Покупатель
				</span>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</span>
				<span class="message-time">
					Time
				</span>
			</div>
		</div>
	</div>
	<div class="chat__bottom-box">
		<form>
			<div class="attachment-box">
				<img src="../../../assets/icon.png">
			</div>
			<div class="message-box">
					<textarea placeholder="Введите сообщение..."></textarea>
			</div>
			<button class="btn-push-mes">
			</button>
		</form>
	</div>
</div>