.chat-box {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	border: 1px solid grey;
	border-radius: 15px;
	width: 250px;
	height: 350px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;

	.chat__main-box {

		.chat__header-box {
			display: flex;
			flex-flow: column;
			align-items: center;

			.header-box__date {
				text-align: center;
				margin: 5px;

				span {
					font-weight: 600;
				}
			};

			.header-box__time {
				text-align: center;
				width: 50px;
				color: #cbd0d4;
				padding-top: 15px;
				background-color: #97a2aa;
				border-radius: 5px;
				margin-bottom: 5px;
			};
		};
	};

	.chat__bottom-box {

		form {
			display: flex;
			width: 100%;
			height: 50px;
			
			.attachment-box {
				width: 15%;
				border-bottom-left-radius: 15px;
				background-color: #ffffff;
			};
			
			.message-box {
				width: 70%;

				textarea {
					width: 100%;
					height: 100%;
					background-color: #ffffff;
					border: none;
					padding: 4px 6px;
				};
			};

			.btn-push-mes {
				width: 15%;
				border-bottom-right-radius: 15px; 
				border: none;
				background-color: #4655a5;
			};
		};
	};
};