<div class="form-box">
	<form 
		[formGroup]="this.clientService.clientForm" 
		(ngSubmit)="addUser(clientService.clientForm.value.clientName);"
		(keydown.enter)="addUser(clientService.clientForm.value.clientName);"
		>
			<div class="form-group">
				<label for="clientName">
					Name
				</label>
				<input 
					formControlName="clientName"
					name="clientName" 
					id="clientName" 
					class="form-control field" 
					type="text"
					placeholder="name"
					autofocus
					>
				<div 
					class="alert alert-danger" 
					*ngIf="clientService.clientForm.touched && !clientService.clientForm.valid">
					<div *ngIf="clientService.clientForm.controls.clientName.errors?.required">
						Nickname is required.
					</div>
					<div *ngIf="clientService.clientForm.controls.clientName.errors?.minlength">
						Name should be minimum
						{{clientService.clientForm.controls.clientName.errors?.minlength?.requiredLength}}
						characters.
					</div>
					<div *ngIf="clientService.clientForm.controls.clientName.errors?.maxlength">
						Name should be maximum
						{{clientService.clientForm.controls.clientName.errors?.maxlength?.requiredLength}}
						characters.
					</div>
					<div *ngIf="clientService.clientForm.controls.clientName.errors?.pattern">
					
							The name must not consist of numbers or symbols.
					
					</div>
				</div>
			</div>
			<div>
				<button 
					type="submit" 
					class="btn btn-primary">
					Go
				</button>
			</div>
	</form>
</div>
