<div class="form-box">
	<form 
		[formGroup]="this.clientService.clientForm" 
		(ngSubmit)="addUser(clientService.clientForm.value.clientName);"
		(keydown.enter)="addUser(clientService.clientForm.value.clientName);"
		>
			<div class="form-group">
				<label for="clientName">
					Name
				</label>
				<input 
					required 
					minlength="3" 
					formControlName="clientName"
					name="clientName" 
					id="clientName" 
					class="form-control field" 
					type="text"
					placeholder="name"
					autofocus
					>
				<div 
					class="alert alert-danger" 
					*ngIf="clientService.clientForm.dirty == true && !clientService.clientForm.valid">
					<div *ngIf="clientService.clientForm.controls.required">
						Nickname is required.
					</div>
					<div *ngIf="clientService.clientForm.controls.minlength">
						Name should be minimum
						{{clientService.clientForm.errors.minlength.requiredLength}}
						characters.
					</div>
					<div>
						<p>
							The name must not consist of numbers or symbols.
						</p>
						<p>
							Name should be maximum 20 letters.	
						</p>
					</div>
				</div>
			</div>
			<div>
				<button 
					type="submit" 
					class="btn btn-primary">
					Go
				</button>
			</div>
	</form>
</div>
